:root {
    --ouheselittle: #ece1e5;
    --ouhese: #DDC5CF;
    --unk:#A9A2CB;
    --lilac:#BDA1C8;
    --blueLotus:#9465A5;
    --daizi:blue;
    --grape:#4B2F59;
    --crimsonPurple:#7C4455;
    --shunShengZi:#521729;
    --silverpurple:#441015;
}