:root {
    --first: #ece1e5;
    --second: #DDC5CF;
    --third:#A9A2CB;
    --fourth:#BDA1C8;
    --fifth:#9465A5;
    --sixth:#534161;
    --seventh:#4B2F59;
    --eigth:#7C4455;
    --ninth:#521729;
    --tenth:#441015;
}