:root {
    --first: #e2f0fa;
    --second: #d7eaff;
    --third:#cbe4ff;
    --fourth:#c6e2ff;
    --fifth:#b2cbe5;
    --sixth:#9eb4cc;
    --seventh:#8a9eb2;
    --eigth:#768799;
    --ninth:#63717f;
    --tenth:#4f5a66;
    --eleventh:#e2f0ff;
    --theme12:#1f5e9c;
}
