:root {
    --first: #e79999;
    --second: #db6666;
    --third:#cf3232;
    --fourth:#c91919;
    --fifth:#c40000;
    --sixth:#b00000;
    --seventh:#890000;
    --eigth:#9c0000;
    --ninth:#750000;
    --tenth:#4e0000;
    --eleventh:#f7c2c6;
    --theme12:#cf3232;
}
